<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jackie.dao.OrganizationMapper">
    <resultMap id="BaseResultMap" type="com.jackie.model.Organization">
        <id column="resource_id" property="resourceId" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
        <result column="unit_short_name" property="unitShortName" jdbcType="VARCHAR"/>
        <result column="unit_level" property="unitLevel" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="is_child" property="isChild" jdbcType="CHAR"/>
        <result column="unit_type" property="unitType" jdbcType="VARCHAR"/>
        <result column="unit_description" property="unitDescription" jdbcType="VARCHAR"/>
        <result column="show_order" property="showOrder" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="principal" property="principal" jdbcType="VARCHAR"/>
        <result column="linkman" property="linkman" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="local_city" property="localCity" jdbcType="VARCHAR"/>
        <result column="zip_code" property="zipCode" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="SMALLINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="province_id" property="provinceId" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="district_id" property="districtId" jdbcType="VARCHAR"/>
        <result column="photo_url" property="photoUrl" jdbcType="VARCHAR"/>
        <result column="stage" property="stage" jdbcType="VARCHAR"/>
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR"/>
        <result column="precode" property="precode" jdbcType="VARCHAR"/>
        <result column="child_max_num" property="childMaxNum" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    resource_id, unit_name, unit_code, unit_short_name, unit_level, parent_id, is_child,
    unit_type, unit_description, show_order, create_time, principal, linkman, phone,
    local_city, zip_code, address, version, is_deleted, status, province_id, city_id,
    district_id, photo_url, stage, creator_id, precode, child_max_num
  </sql>
    <select id="selectByNameAndPrecode" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from seewo_sys_unit
        where precode =#{code,jdbcType=VARCHAR}
        and unit_name = #{name,jdbcType=VARCHAR}

    </select>
    <select id="selectPrecodeByName" resultType="java.lang.String" parameterType="java.lang.String">
    select
    precode
    from seewo_sys_unit
    where unit_name = #{unitName,jdbcType=VARCHAR}
  </select>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from seewo_sys_unit
        where unit_name = #{unitName,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from seewo_sys_unit
        where resource_id = #{resourceId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seewo_sys_unit
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jackie.model.Organization">
    insert into seewo_sys_unit (resource_id, unit_name, unit_code,
    unit_short_name, unit_level, parent_id,
    is_child, unit_type, unit_description,
    show_order, create_time, principal,
    linkman, phone, local_city,
    zip_code, address, version,
    is_deleted, status, province_id,
    city_id, district_id, photo_url,
    stage, creator_id, precode,
    child_max_num)
    values (#{resourceId,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{unitCode,jdbcType=VARCHAR},
    #{unitShortName,jdbcType=VARCHAR}, #{unitLevel,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR},
    #{isChild,jdbcType=CHAR}, #{unitType,jdbcType=VARCHAR}, #{unitDescription,jdbcType=VARCHAR},
    #{showOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{principal,jdbcType=VARCHAR},
    #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{localCity,jdbcType=VARCHAR},
    #{zipCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER},
    #{isDeleted,jdbcType=SMALLINT}, #{status,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR},
    #{cityId,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR},
    #{stage,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{precode,jdbcType=VARCHAR},
    #{childMaxNum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.jackie.model.Organization">
        insert into seewo_sys_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">
                resource_id,
            </if>
            <if test="unitName != null">
                unit_name,
            </if>
            <if test="unitCode != null">
                unit_code,
            </if>
            <if test="unitShortName != null">
                unit_short_name,
            </if>
            <if test="unitLevel != null">
                unit_level,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="isChild != null">
                is_child,
            </if>
            <if test="unitType != null">
                unit_type,
            </if>
            <if test="unitDescription != null">
                unit_description,
            </if>
            <if test="showOrder != null">
                show_order,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="principal != null">
                principal,
            </if>
            <if test="linkman != null">
                linkman,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="localCity != null">
                local_city,
            </if>
            <if test="zipCode != null">
                zip_code,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="districtId != null">
                district_id,
            </if>
            <if test="photoUrl != null">
                photo_url,
            </if>
            <if test="stage != null">
                stage,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="precode != null">
                precode,
            </if>
            <if test="childMaxNum != null">
                child_max_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">
                #{resourceId,jdbcType=VARCHAR},
            </if>
            <if test="unitName != null">
                #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="unitCode != null">
                #{unitCode,jdbcType=VARCHAR},
            </if>
            <if test="unitShortName != null">
                #{unitShortName,jdbcType=VARCHAR},
            </if>
            <if test="unitLevel != null">
                #{unitLevel,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="isChild != null">
                #{isChild,jdbcType=CHAR},
            </if>
            <if test="unitType != null">
                #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="unitDescription != null">
                #{unitDescription,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="principal != null">
                #{principal,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="localCity != null">
                #{localCity,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=SMALLINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null">
                #{districtId,jdbcType=VARCHAR},
            </if>
            <if test="photoUrl != null">
                #{photoUrl,jdbcType=VARCHAR},
            </if>
            <if test="stage != null">
                #{stage,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="precode != null">
                #{precode,jdbcType=VARCHAR},
            </if>
            <if test="childMaxNum != null">
                #{childMaxNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jackie.model.Organization">
        update seewo_sys_unit
        <set>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="unitCode != null">
                unit_code = #{unitCode,jdbcType=VARCHAR},
            </if>
            <if test="unitShortName != null">
                unit_short_name = #{unitShortName,jdbcType=VARCHAR},
            </if>
            <if test="unitLevel != null">
                unit_level = #{unitLevel,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="isChild != null">
                is_child = #{isChild,jdbcType=CHAR},
            </if>
            <if test="unitType != null">
                unit_type = #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="unitDescription != null">
                unit_description = #{unitDescription,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                show_order = #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="principal != null">
                principal = #{principal,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="localCity != null">
                local_city = #{localCity,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                zip_code = #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=SMALLINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null">
                district_id = #{districtId,jdbcType=VARCHAR},
            </if>
            <if test="photoUrl != null">
                photo_url = #{photoUrl,jdbcType=VARCHAR},
            </if>
            <if test="stage != null">
                stage = #{stage,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="precode != null">
                precode = #{precode,jdbcType=VARCHAR},
            </if>
            <if test="childMaxNum != null">
                child_max_num = #{childMaxNum,jdbcType=INTEGER},
            </if>
        </set>
        where resource_id = #{resourceId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jackie.model.Organization">
    update seewo_sys_unit
    set unit_name = #{unitName,jdbcType=VARCHAR},
      unit_code = #{unitCode,jdbcType=VARCHAR},
      unit_short_name = #{unitShortName,jdbcType=VARCHAR},
      unit_level = #{unitLevel,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR},
      is_child = #{isChild,jdbcType=CHAR},
      unit_type = #{unitType,jdbcType=VARCHAR},
      unit_description = #{unitDescription,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      principal = #{principal,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      local_city = #{localCity,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=SMALLINT},
      status = #{status,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      precode = #{precode,jdbcType=VARCHAR},
      child_max_num = #{childMaxNum,jdbcType=INTEGER}
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </update>
</mapper>